.env
# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.DS_Store
dist/
build/
coverage/
logs/
*.log
*.sqlite
*.sqlite-journal
pids
*.pid
*.seed
*.log
.vscode/
.idea/
.src/uploads/*